body {
    font-family: 'Work Sans', sans-serif;
}

#background {
    background-image: linear-gradient(#007eff, #ffe000);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

a {
    background-color: black;
    color: white;
    padding: 3px;
    text-decoration: auto;
}

.card {
    border: 1px solid black;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .v-center {
        position: absolute;
        width: 80%;
        left: 50%;
        top: 50%;
        margin-left: -45%;
        margin-top: -20%;
        padding: 5%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .v-center {
        position: absolute;
        width: 482px;
        left: 50%;
        top: 50%;
        margin-left: -270px;
        margin-top: -120px;
        padding: 30px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1799px) {
    .v-center {
        position: absolute;
        width: 60%;
        left: 50%;
        top: 50%;
        margin-left: -35%;
        margin-top: -20%;
        padding: 5%;
    }
    h1 {
        font-size: 3rem;
    }
    #link-sheet>p {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1800px) {
    .v-center {
        position: absolute;
        width: 40%;
        height: 15%;
        left: 50%;
        top: 50%;
        margin-left: -20%;
        margin-top: -15%;
    }
    h1 {
        font-size: 6rem;
    }
    #link-sheet>p {
        font-size: 2em;
    }
}

#link-sheet>p {
    display: inline;
}
