body {
    font-family: 'Manrope', sans-serif;
}

#bouncer {
    font-weight: bold;
    font-style: oblique;
    animation: rainbow-bg 2.5s linear;
    animation-iteration-count: infinite;
    width: 80px;
    height: 80px;
    z-index: 1;
    position: absolute;
}

#background {
    /* background-image: linear-gradient(#007eff, #ffe000); */
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

a {
    background-color: black;
    color: white;
    padding: 3px;
    text-decoration: auto;
}

.card {
    border: 1px solid black;
    background-color: white;
}

.card h1 {
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .v-center {
        position: absolute;
        width: 80%;
        left: 50%;
        top: 50%;
        margin-left: -45%;
        margin-top: -20%;
        padding: 5%;
        z-index: 2;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .v-center {
        position: absolute;
        width: 482px;
        left: 50%;
        top: 50%;
        margin-left: -270px;
        margin-top: -120px;
        padding: 30px;
        z-index: 2;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1799px) {
    .v-center {
        position: absolute;
        width: 60%;
        left: 50%;
        top: 50%;
        margin-left: -35%;
        margin-top: -20%;
        padding: 5%;
        z-index: 2;
    }
    h1 {
        font-size: 3rem;
    }
    #link-sheet>p {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1800px) {
    .v-center {
        position: absolute;
        width: 40%;
        height: 15%;
        left: 50%;
        top: 50%;
        margin-left: -20%;
        margin-top: -15%;
        z-index: 2;
    }
    h1 {
        font-size: 6rem;
    }
    #link-sheet>p {
        font-size: 2em;
    }
}

#link-sheet>p {
    display: inline;
}


@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}