body {
    font-family: 'Work Sans', sans-serif;
}

#background {
    background-image: linear-gradient(#007eff, #ffe000);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

a {
    background-color: black;
    color: white;
    padding: 3px;
    text-decoration: auto;
}

@media only screen and (max-width: 600px) {
    .v-center {
        position: absolute;
        width: 80%;
        height: 15%;
        left: 50%;
        top: 50%;
        margin-left: -40%;
        margin-top: -7.5%;
        background-color: white;
    }
}

@media only screen and (min-width: 600px) {
    .v-center {
        position: absolute;
        width: 50%;
        height: 15%;
        left: 50%;
        top: 50%;
        margin-left: -25%;
        margin-top: -7.5%;
        background-color: white;
    }
}

@media only screen and (min-width: 900px) {
    .v-center {
        position: absolute;
        width: 40%;
        height: 15%;
        left: 50%;
        top: 50%;
        margin-left: -20%;
        margin-top: -7.5%;
        background-color: white;
    }
}

#link-sheet>p {
    display: inline;
}